/* FONT  */
@font-face {
  font-family: Oswald;
  font-weight: 100;
  src: url(fonts/Oswald/Oswald-ExtraLight.ttf);
}
@font-face {
  font-family: Oswald;
  font-weight: 200;
  src: url(fonts/Oswald/Oswald-Light.ttf);
}
@font-face {
  font-family: Oswald;
  font-weight: 400;
  src: url(fonts/Oswald/Oswald-Medium.ttf);
}
@font-face {
  font-family: Oswald;
  font-weight: 500;
  src: url(fonts/Oswald/Oswald-Regular.ttf);
}
@font-face {
  font-family: Oswald;
  font-weight: 800;
  src: url(fonts/Oswald/Oswald-SemiBold.ttf);
}
@font-face {
  font-family: Oswald;
  font-weight: bold;
  src: url(fonts/Oswald/Oswald-Bold.ttf);
}
/*=== FONT  ===*/
